﻿@page
@model NetworkTestModel
@{
    ViewData["Title"] = "Network connectivity test page";
}
<h2>@ViewData["Title"]</h2>

<p>@Model.Message</p>

@foreach (var item in Model.Results)
{
    @Html.Raw(item)
    <br />
}